<footer>
  <div class="footer_container">
    <div class="footer_wrapper">
      <ul class="footer_block">
        <li class="footer_heading">О компании</li>
        <li class="footer_item"><a href="#">Партнёрская программа</a></li>
        <li class="footer_item"><a href="#">Вакансии</a></li>
      </ul>
      <ul class="footer_block footer_block--flex">
        <li class="footer_heading">Меню</li>
        <li class="footer_item"><a href="#">Расчёт стоимости</a></li>
        <li class="footer_item"><a href="#">Услуги</a></li>
        <li class="footer_item"><a href="#">Виджеты</a></li>
        <li class="footer_item"><a href="#">Интеграция</a></li>
        <li class="footer_item"><a href="#">Наши клиенты</a></li>
      </ul>
      <ul class="footer_block">
        <li class="footer_item order"><a href="#">Кейсы</a></li>
        <li class="footer_item order"><a href="#">Благодарственные письма</a></li>
        <li class="footer_item order"><a href="#">Сертификаты</a></li>
        <li class="footer_item order"><a href="#">Блог на Youtube</a></li>
        <li class="footer_item order"><a href="#">Вопрос / Ответ</a></li>
      </ul>
    </div>
    <ul class="footer_block footer_block--current">
      <li class="footer_heading footer_heading--current">Контакты</li>
      <li class="footer_item">+7 555 555-55-55</li>
      <li>
        <ul class="footer_social-container">
					<li>
						<a href="#">
							<svg class="vector">
								<use xlink:href="@img/icons/icons.svg#Vector">
							</svg>
						</a>
					</li>
					<li>
						<a href="#">
							<svg class="phone">
								<use xlink:href="@img/icons/icons.svg#phone">
							</svg>
						</a>
					</li>
					<li>
						<a href="#">
							<svg class="whatsapp">
								<use xlink:href="@img/icons/icons.svg#whatsapp">
							</svg>
						</a>
					</li>
				</ul>
      </li>
      <li class="footer_item footer_item--current">Москва, Путевой проезд 3с1, к 902</li>
    </ul>
  </div>
  <div class="policy">
    <div class="policy_text">©WELBEX 2022. Все права защищены.</div>
    <a href="#">Политика конфиденциальности</a>
  </div>
</footer>
