<main>
  <div class="main_content">
    <div class="main_text">
      Зарабатывайте больше<br />
      <span>c WELBEX</span>
    </div>
    <div class="main_text-bottom">Развиваем и контролируем продажи за вас</div>
  </div>
  <div class="main_info">
    <div class="main_textBlock-first">
      Вместе с <span>бесплатной <br />консультацией</span> мы дарим:
    </div>
    <div class="main_textBlock-middle">
      <div class="middle_text">
        <div class="middle_heading">Виджеты</div>
        <div class="middle_description">
          30 готовых <br />
          решений
        </div>
      </div>
      <div class="middle_text">
        <div class="middle_heading">Dashboard</div>
        <div class="middle_description">
          с показателями <br />
          вашего бизнеса
        </div>
      </div>
      <div class="middle_text">
        <div class="middle_heading">Skype Аудит</div>
        <div class="middle_description">
          отдела продаж <br />
          и CRM системы
        </div>
      </div>
      <div class="middle_text">
        <div class="middle_heading">35 дней</div>
        <div class="middle_description">
          использования <br />
          CRM
        </div>
      </div>
    </div>
		<button class="main_btn">Получить консультацию</button>
		<div class="secret_content">
			<div class="secret_item">Skype аудит</div>
			<div class="secret_item">30 виджетов</div>
			<div class="secret_item">Dashboard</div>
			<div class="secret_item">Месяц аmoCRM</div>
		</div>
  </div>
</main>
